<div>
    <h2 style="text-align: center;">SQL Parameter Filler</h2>
  
    <div>
        <h3>SQL Query:</h3>
      <textarea id="sqlQuery" [(ngModel)]="sqlQuery" cols="100" rows="20"></textarea>
    </div>
  
    <div>
        <h3>Parameters:</h3>
      <textarea id="parameterLines" [(ngModel)]="parameterLines" cols="100" rows="20"></textarea>
    </div>
  
    <button (click)="fillSqlQuery()">Fill SQL Query</button>
  
    <div>
      <h3>Sorted Parameters:</h3>
      <textarea name="result" id="result" cols="100" rows="20"
      [(ngModel)]="sortedParemeterLinesStr"></textarea>

      <h3>Filled SQL Query:</h3>
      <textarea name="result" id="result" cols="100" rows="20"
      [(ngModel)]="filledSqlQuery"></textarea>
    </div>
</div>